@gutter: 30px;
.row {
    @media (max-width: @screen-xs-max) {
        .clearfix;
        padding-left:  (@gutter / 2);
        padding-right: (@gutter / 2);
        background-color: blue;
    }
}

.drop-zone {
    border: 2px dashed @turquoise;
    text-align: center;
    font-size: 3em;
    padding: 150px 0;
    &.dragover {
        border-width: 6px;
    }
}